// grid

.grid {
    display: grid;
    column-gap: 2em;
    row-gap: 2em;

    &.two {
        grid-template-columns: 1fr 1fr;
    }

    &.three {
        grid-template-columns: 1fr 1fr 1fr;
    }

    &.four {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}